<div class = "clear"></div>
<div class="row">
  <div class="col-md-8 col-md-6">
    <br>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
         <!--  <th class="center"><%= t "user.name" %></th>
          <th class="center", colspan="3"><%= t "user.actions" %></th> -->
        </tr>
      </thead>
      <tbody>
        <%= render @provincials %>
      </tbody>
    </table>
    <div class="text-center">
      <%= paginate @provincials %>
    </div>
  </div>
</div>