  <div class="form-group row">
      <div >
        <div class="dropdown form-drop-down">
          <span class="glyphicon glyphicon-menu-down" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          </span>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                  <%= link_to t("village.show"), admin_village_path(village),
                        class: "btn icon-trash icon-white" %>
            <li>
                  <%= link_to t("village.edit"), edit_admin_village_path(village),
                        class: "btn btn-info icon-trash icon-white" %>    
            </li>
            <li>
                 <%= link_to t("village.delete"), admin_village_path(village),
                        method: :delete, data: {confirm: t("village.confirm")},
                        class: "btn icon-trash icon-white" %>
            </li>
          </ul>
        </div>
        <span class="provincial-name"><%= village.name %></span>
        
       
        
      </div>
      <div class="clear"></div>
      <hr>
  </div>
